<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:dt="http://github.com/dandelion/datatables"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  	layout:decorator="general-layout">
	<head>
		<title>403</title>
	</head>
	
	<body>
		<section layout:fragment="content-header" th:class="content-header">
			<h1>
            	403 Error Page
            </h1>
            <!-- <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a href="#">Examples</a></li>
                <li class="active">404 error</li>
            </ol> -->
		</section>
		
		<section layout:fragment="content">
        	<div class="error-page">
                <h2 class="headline text-info"> 403</h2>
                <div class="error-content">
                    <h3><i class="fa fa-warning text-yellow"></i> Oops! Access Denied.</h3>
                    <p>
                        You could not access to view this page. 
                        Meanwhile, you may <a href="../../index.html" th:href="@{/}">return to dashboard</a>.
                    </p>
                    <!-- <form class="search-form">
                        <div class="input-group">
                            <input type="text" placeholder="Search" class="form-control" name="search"/>
                            <div class="input-group-btn">
                                <button class="btn btn-primary" name="submit" type="submit"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </form> -->
                </div><!-- /.error-content -->
            </div>
        </section><!-- /.content -->
	</body>
</html>