<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" layout:decorator="layout">

	<body class="wysihtml5-supported  pace-done skin-black fixed">

		<div class="wrapper row-offcanvas row-offcanvas-left">

			<div class="content-wrapper">
	
	            <!-- Main content -->
	            <section class="content" layout:fragment="content">
	            	
	            </section><!-- /.content -->
	        </div><!-- /.right-side -->
	    </div><!-- ./wrapper -->
	    
	</body>

</html>