<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <title th:text="${config.getProperty('system.name')}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    <link rel="shortcut icon" href="../../resources/images/favicon.ico" />
    <!-- Bootstrap core CSS -->
    <link href="../../resources/lib/bootstrap-3.3.4/css/bootstrap.min.css" th:href="@{/resources/lib/bootstrap-3.3.4/css/bootstrap.min.css}" rel="stylesheet" />

    <link href="../../resources/lib/bootstrap-3.3.4/css/select.bootstrap.min.css" th:href="@{/resources/lib/bootstrap-3.3.4/css/select.bootstrap.min.css}" rel="stylesheet" />

    <!-- Bootstrap RTL Theme -->
    <!-- <link rel="stylesheet" href="../../resources/lib/bootstrap-3.3.4/css/bootstrap-rtl.css"
			th:unless="${#locale.language == 'en'}" th:href="@{/resources/lib/bootstrap-3.3.4/css/bootstrap-rtl.css}" /> -->

    <link href="../../resources/lib/font-awesome-4.4.0/css/font-awesome.min.css" th:href="@{/resources/lib/font-awesome-4.4.0/css/font-awesome.min.css}" rel="stylesheet" />

    <!-- ion Icons CSS -->
    <link href="../../resources/lib/ionicons-2.0.1/css/ionicons.min.css" th:href="@{/resources/lib/ionicons-2.0.1/css/ionicons.min.css}" rel="stylesheet" />

    <!-- iCheck CSS -->
    <link href="../../resources/lib/iCheck/minimal/minimal.css" th:href="@{/resources/lib/iCheck/minimal/minimal.css}" rel="stylesheet" />

    <link rel="stylesheet" href="../../resources/css/style.css" th:href="@{/resources/css/style.css}" />


    <!-- dataTables CSS -->
    <link href="../../resources/lib/DataTables-1.9.4/media/css/dataTables.bootstrap.css" th:href="@{/resources/lib/DataTables-1.9.4/media/css/dataTables.bootstrap.css}" rel="stylesheet" />
    <!-- <link href="../../resources/lib/DataTables-1.9.4/media/css/dataTables.min.css" th:href="@{/resources/lib/DataTables-1.9.4/media/css/dataTables.min.css}" rel="stylesheet" /> -->
    <!-- <link href="../../resources/lib/DataTables-1.9.4/media/css/dataTables.bootstrap4.min.css" th:href="@{/resources/lib/DataTables-1.9.4/media/css/dataTables.bootstrap4.min.css}" rel="stylesheet" /> -->

    <!-- PNotify CSS -->
    <link rel="stylesheet" href="../../resources/lib/PNotify/pnotify.custom.min.css" th:href="@{/resources/lib/PNotify/pnotify.custom.min.css}" />

    <!-- bootstrap-strength-meter CSS -->    
    <link rel="stylesheet" href="../../resources/lib/kartik-v-strength-meter/css/strength-meter.min.css" th:href="@{/resources/lib/kartik-v-strength-meter/css/strength-meter.min.css}" />
    
    <!-- bootstrap-fileInput CSS -->
    <link rel="stylesheet" href="../../resources/lib/kartik-v-bootstrap-fileinput/css/fileinput.min.css" th:href="@{/resources/lib/kartik-v-bootstrap-fileinput/css/fileinput.min.css}" />
    
    <!-- bootstrap-star-rating CSS -->
    <link rel="stylesheet" href="../../resources/lib/kartik-v-bootstrap-star-rating/css/star-rating.min.css" th:href="@{/resources/lib/kartik-v-bootstrap-star-rating/css/star-rating.min.css}" />

    <!-- bootstrap-dropdown-select CSS -->
    <link rel="stylesheet" href="../../resources/lib/select2-4.0.3/dist/css/select2.min.css" th:href="@{/resources/lib/select2-4.0.3/dist/css/select2.min.css}" />         

    <!-- jQuery -->
    <script src="../../resources/lib/jquery-2.1.4/jQuery-2.1.4.min.js" th:src="@{/resources/lib/jquery-2.1.4/jQuery-2.1.4.min.js}"></script>

    <!-- dateTimepicker CSS -->
    <link rel="stylesheet" href="../../resources/lib/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css" th:href="@{/resources/lib/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css}" />

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
	      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
	    <![endif]-->


</head>

<body>
    <div class="row" dir="rtl">
        <div class="row" dir="rtl" >
            <div class="col-md-12" dir="ltr">
                <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
                <a class="btn btn-danger" th:href="@{'/logout/'}">
                    <span class="glyphicon glyphicon-off" aria-hidden="true" />
                </a>
                <div class="btn-group">
                    <button type="button" class="btn btn-warning">
						 	  <i th:text="${userInfo.firstName}"> </i> 
							  <i th:text="${userInfo.lastName}"> </i>
						 </button>
                    <button class="btn btn-warning" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">							  
							  <span class="caret"></span>
							  <span class="sr-only">Toggle Dropdown</span>
					 	 </button>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{'/changePass/'}"><i>&nbsp;تغییر رمز عبور&nbsp;</i></a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-2" dir="rtl" >
            <div class="list-group" >
            	<div >
                	<a class="list-group-item" th:href="@{'/mainPage/'}" th:text="#{lbl_home}"></a>
                </div>
               <div th:attr="hidden=${(#lists.contains(userInfo.roleNames,'admin') || #lists.contains(userInfo.roleNames,'manager')) ? 'false' : 'true'}">
                	<a class="list-group-item" th:href="@{'/showGroups/'}" th:text="#{groups_view}"></a>
                </div>
                <div th:attr="hidden=${(#lists.contains(userInfo.roleNames,'admin') || #lists.contains(userInfo.roleNames,'manager')) ? 'false' : 'true'}">
                	<a  class="list-group-item" th:href="@{'/showMembers/'}" th:text="#{members_view}"></a>
                </div>
                <div >
                	<a class="list-group-item" th:href="@{'/showTasks/'}" th:text="#{tasks_view}"></a>
                </div>
            </div>
        </div>
        <div class="col-md-10">

            <div th:if="${result}" th:object="${result}" style="color:red;">
                <!-- <div th:if="*{status != 'success'}" th:include="errors :: error-content" th:remove="tag"> -->
                <div th:if="*{status != 'success'}" class="alert alert-danger" role="alert" th:include="errors :: error-content"></div>
                <div th:if="*{status == 'success'}" class="callout callout-success">update successful</div>
            </div>

            <section class="content" layout:fragment="content">
            </section>
        </div>
    </div>
    
    
    <script th:inline="javascript">
    
        var messages = {
            'parsererror': '<span th:text="#{errorCode.parsererror}" th:remove="tag">parsererror</span>',
            'timeout': '<span th:text="#{errorCode.timeout}" th:remove="tag">timeout</span>',
            '302': '<span th:text="#{errorCode.302}" th:remove="tag">302</span>',
            '404': '<span th:text="#{errorCode.404}" th:remove="tag">404</span>',
            '403': '<span th:text="#{errorCode.403}" th:remove="tag">403</span>',
            '503': '<span th:text="#{errorCode.503}" th:remove="tag">503</span>',
        };
        var systemName = '';
    </script>

    <script src="../../resources/lib/bootstrap-3.3.4/js/bootstrap.min.js" th:src="@{/resources/lib/bootstrap-3.3.4/js/bootstrap.min.js}"></script>
    <script src="../../resources/lib/moment.js/moment.min.js" th:src="@{/resources/lib/moment.js/moment.min.js}"></script>
    <script src="../../resources/lib/moment.js/moment-with-locales.min.js" th:src="@{/resources/lib/moment.js/moment-with-locales.min.js}"></script>
    <script src="../../resources/lib/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js" th:src="@{/resources/lib/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js}"></script>
    <script src="../../resources/lib/DataTables-1.9.4/media/js/jquery.dataTables.min.js" th:src="@{/resources/lib/DataTables-1.9.4/media/js/jquery.dataTables.min.js}"></script>
    <script src="../../resources/lib/PNotify/pnotify.custom.min.js" th:src="@{/resources/lib/PNotify/pnotify.custom.min.js}"></script>
    <script src="../../resources/lib/cookie.js/cookie.min.js" th:src="@{/resources/lib/cookie.js/cookie.min.js}"></script>
    <script src="../../resources/lib/slimScroll/jquery.slimscroll.min.js" th:src="@{/resources/lib/slimScroll/jquery.slimscroll.min.js}"></script>
    <script src="../../resources/lib/iCheck/icheck.min.js" th:src="@{/resources/lib/iCheck/icheck.min.js}"></script>
    <script src="../../resources/lib/kartik-v-bootstrap-fileinput/js/fileinput.min.js" th:src="@{/resources/lib/kartik-v-bootstrap-fileinput/js/fileinput.min.js}"></script>
    <script src="../../resources/lib/kartik-v-strength-meter/js/strength-meter.min.js" th:src="@{/resources/lib/kartik-v-strength-meter/js/strength-meter.min.js}"></script>
    <script src="../../resources/lib/kartik-v-bootstrap-star-rating/js/star-rating.min.js" th:src="@{/resources/lib/kartik-v-bootstrap-star-rating/js/star-rating.min.js}"></script>
    <script src="../../resources/lib/kartik-v-bootstrap-star-rating/js/star-fontAwesom.js" th:src="@{/resources/lib/kartik-v-bootstrap-star-rating/js/star-fontAwesom.js}"></script>
    <script src="../../resources/lib/jqBootstrapValidation/jqBootstrapValidation.js" th:src="@{/resources/lib/jqBootstrapValidation/jqBootstrapValidation.js}"></script>
    <script src="../../resources/lib/select2-4.0.3/dist/js/select2.min.js" th:src="@{/resources/lib/select2-4.0.3/dist/js/select2.min.js}"></script>
    <script src="../../resources/lib/bootstrap-hover-dropdown-master/bootstrap-hover-dropdown.min.js" th:src="@{/resources/lib/bootstrap-hover-dropdown-master/bootstrap-hover-dropdown.min.js}"></script>

    <!-- Page JavaScripts -->
    <th:block layout:fragment="javascripts" />
</body>

</html>